.vertex {
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: inherit;
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  border: 1px solid black;
}

.vertex0 {
  top: -65%;
  left: calc(50% - 8.5px);
}

.vertex1 {
  top: -17%;
  left: -11%;
}

.vertex2 {
  top: -17%;
  right: -14%;
}

.vertex3 {
  bottom: -21%;
  left: -12%;
}

.vertex4 {
  bottom: -21%;
  right: -12%;
}

.vertex5 {
  bottom: -68%;
  left: calc(50% - 7.5px);
}

.best {
  background-color: #000000;
}

.good {
  background-color: #4B4B4B
}

.medium {
  background-color: #9E9E9E;
}

.bad {
  background-color: #D2D2D2;
}

.best, .good {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.medium, .bad {
  color: #000;
  text-shadow:
    1px  1px 1px rgba(255,255,255,0.8),
    -1px  1px 1px rgba(255,255,255,0.8),
    1px -1px 1px rgba(255,255,255,0.8),
    -1px -1px 1px rgba(255,255,255,0.8);
}