.vertex {
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: white;
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  border: 1px solid black;
}

.vertex0 {
  top: -65%;
  left: calc(50% - 8.5px);
}

.vertex1 {
  top: -17%;
  left: -11%;
}

.vertex2 {
  top: -17%;
  right: -14%;
}

.vertex3 {
  bottom: -21%;
  left: -12%;
}

.vertex4 {
  bottom: -21%;
  right: -12%;
}

.vertex5 {
  bottom: -68%;
  left: calc(50% - 7.5px);
}

.best {
  background-color: rgb(0, 0, 0);
}

.good {
  background-color: rgb(75, 75, 75);
}

.medium {
  background-color: rgb(125, 125, 125);
}

.bad {
  background-color: rgb(200, 200, 200);
}

.black {
  background-color: black;
}

.green {
  background-color: lightgreen;
  color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.gold {
  background-color: gold;
  color: black
}

.mysticblue {
  background-color: rgb(0, 195, 255);
  color: black
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
  color: black
}

.silver {
  background-color: silver;
  color: black
}

.white {
  background-color: rgb(234, 234, 234);
  color: black
}
