.hexagon {
  width: 73px;
  height: 43px;
  position: relative;
  display: inline-block;
  margin-top: 17px;
  border-right: 1px solid black;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 43px;
  background: inherit;
  transform: rotate(60deg);
  border-left: 1px solid black;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 43px;
  background: inherit;
  transform: rotate(-60deg);
  border-right: 1px solid black;
}

.borderLeftAfter:after {
  border-left: 1px solid black
}

.borderRightBefore:before {
  border-right: 1px solid black
}

.borderLeft {
  border-left: 1px solid black;
}

.desert {
  background-color: #e7d2a7;
}

.stone {
  background-color: #7e7e7e;
}

.brick {
  background-color: #8f2e26;
}

.wool {
  background-color: #7f9f49;
}

.lumber {
  background: #3b6e47;
}
  
.grain {
  background-color: #d4a037;
}
