.dice-number {
  background-color: white;
  border-radius: 15px;
  cursor: default;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 22px;
  left: calc(50% - 11px);
  line-height: 22px;
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  z-index: 7;
}

.dice-number .tooltiptext {
  background: #3d2b1f;
  border: 1px solid #63503c;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  color: #f9f5e3;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding: 6px 8px;
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  visibility: hidden;
  z-index: 8;
}

.dice-number:hover .tooltiptext {
  animation: tooltipFade 0.2s ease-in;
  visibility: visible;
}

@keyframes tooltipFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
